/* ExCSS01

.header {
    background-color: rgb(0, 89, 255);
    color: aliceblue;
    font-size: 23px;
    margin: 0;
}

p {
    margin-top: 0;
    font-size: 30px;
}

.body {
    background-color: rgb(255, 0, 0);
}

.foot {
    background-color: grey;
    width: 90px;
    color: greenyellow;
}*/

/* ExTabela05

body {
    margin: 0;
}

table {
    border: 5px solid black;
    border-collapse: collapse;
    width: 700px;
    height: 300px;
    margin: 0;
}

td,th {
    border: 1px solid black;
    font-size: 22px;
    padding: 10px;
}

th {
    font-size: 30px;
    border: 3px solid;
}*/

<<<<<<< HEAD
/*ExTabela06

.tabela {
    width: 600px;    
}*/

/*ExCss04

#rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #00ff11;
    color: white;
}*/

/*ExCSS05*/

#menu {
    background-color: rgba(0, 0, 200, 0.877);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 500px;
    
}

#menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

#menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 200, 0.877);
    left: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 150px;
}

.teste {
    display: inline-block;
    position: relative;
}

.menu2 {
    display: none;
    background-color: rgba(0, 0, 200, 0.877);
    position: relative;
    left: 70px;
    margin: 0;
    padding: 0;
    width: 100px;
    list-style: none;
}

.menu2 a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display:block;
}

#menu li:hover .menu2 {
    display: block;
}

=======
/* ExTabela06
.nroxo {
    background-color: rgba(137, 43, 226, 0.459);
}

.nverde {
    background-color: rgba(34, 170, 0, 0.445);
}

.namarelo {
    background-color: rgba(255, 255, 0, 0.425);
}*/

/*ExTabela06*/

.tabela {
    width: 600px;    
}
/* ExMenu01
.menu {
    background-color: blue;
    padding: 10px;
    padding-left: 15px;
}

a {
    color: aliceblue;
    margin-right: 10px;
}*/
>>>>>>> 51ead3b7145ed7221ed7e053c52168f7fe345ae2
