/* ExCSS01

.header {
    background-color: rgb(0, 89, 255);
    color: aliceblue;
    font-size: 23px;
    margin: 0;
}

p {
    margin-top: 0;
    font-size: 30px;
}

.body {
    background-color: rgb(255, 0, 0);
}

.foot {
    background-color: grey;
    width: 90px;
    color: greenyellow;
}*/

/* ExTabela05

body {
    margin: 0;
}

table {
    border: 5px solid black;
    border-collapse: collapse;
    width: 700px;
    height: 300px;
    margin: 0;
}

td,th {
    border: 1px solid black;
    font-size: 22px;
    padding: 10px;
}

th {
    font-size: 30px;
    border: 3px solid;
}*/

/* ExTabela06
.nroxo {
    background-color: rgba(137, 43, 226, 0.459);
}

.nverde {
    background-color: rgba(34, 170, 0, 0.445);
}

.namarelo {
    background-color: rgba(255, 255, 0, 0.425);
}*/

/*ExTabela06*/

.tabela {
    width: 600px;    
}
